
.member-management-toolbar {
	background-color: #9271bd;
	color: #ffffff;
}

.member-management-toolbar1 {
	background-color: #ebc8a9;
	color: #ffffff;
}

.member-management-toolbar2 {
	background-color: #ebd5a9;
	color: #ffffff;
}
