@inherits LayoutComponentBase
@using MudBlazor
@inject NavigationManager NavigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*color scheme not yet in place*@
<MudLayout>
	<MudAppBar Color="Color.Dark" Fixed="true" Dense>
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
		<MudButton Color="Color.Inherit" OnClick="GoToTeams"> My Teams</MudButton>
		<MudSpacer />
		<MudIconButton Icon="@Icons.Material.Filled.Usb" Color="Color.Inherit" />

	</MudAppBar>

@* 	 <div class="mud-main-content" style="height:100vh; overflow-y:scroll; overflow-x:hidden;">
		@Body
	 </div> *@
	<MudMainContent style="height:100vh; overflow-y:scroll; overflow-x:hidden;">
		@Body
	</MudMainContent>

</MudLayout>

@code {
	
}

@functions {
	public void GoToTeams() {
		NavigationManager.NavigateTo("/teams");
	}
}
